# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules
yarn.lock
package-lock.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# ENV File
.env
/backend/.env
/frontend/.env

# Secrets
/secrets

# mongo
/mongo-entrypoint
/data

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# System Files
Thumbs.db



# frontend ignores

# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend.pnp.js

# testing
/frontend/coverage

# Logs
/frontend/logs
/frontend/*.log
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/pnpm-debug.log*
/frontend/lerna-debug.log*

/frontend/node_modules
/frontend/dist
/frontend/dist-ssr
/frontend/*.local

# Editor directories and files
/frontend/.vscode/*
/frontend/!.vscode/extensions.json
/frontend/.idea
/frontend/.DS_Store
/frontend/*.suo
/frontend/*.ntvs*
/frontend/*.njsproj
/frontend/*.sln
/frontend/*.sw?


# backend ignores

# compiled output
/backend/dist
/backend/tmp
/backend/out-tsc

# dependencies
/backend/node_modules
/backend/yarn.lock
/backend/package-lock.json

# IDEs and editors
/backend/.idea
/backend/.project
/backend/.classpath
/backend/.c9/
/backend/*.launch
/backend/.settings/
/backend/*.sublime-workspace

# IDE - VSCode
/backend/.vscode/*
/backend/!.vscode/settings.json
/backend/!.vscode/tasks.json
/backend/!.vscode/launch.json
/backend/!.vscode/extensions.json


# Editor directories and files
/backend/.idea
/backend/.DS_Store
/backend/*.suo
/backend/*.ntvs*
/backend/*.njsproj
/backend/*.sln
/backend/*.sw?

# misc
/backend/.sass-cache
/backend/connect.lock
/backend/coverage
/backend/libpeerconnection.log
/backend/npm-debug.log
/backend/testem.log
/backend/typings

# e2e
/backend/e2e/*.js
/backend/e2e/*.map

# ENV File
/backend/.env

# Secrets
/backend/secrets

# mongo
/backend/mongo-entrypoint
/backend/data

# Logs
/backend/logs
/backend/*.log
/backend/npm-debug.log*
/backend/yarn-debug.log*
/backend/yarn-error.log*
/backend/pnpm-debug.log*
/backend/lerna-debug.log*

/backend/node_modules
/backend/dist
/backend/dist-ssr
/backend/*.local

# System Files
/backend/Thumbs.db
